doctype html
html
  head
    meta(charset="utf-8")
    title=title
    link(rel="stylesheet", href="/styles/main.css")

  //- string interpolation below
  //- https://pugjs.org/language/interpolation.html#string-interpolation-unescaped
  body
    .header
      div.logo
        a(href="/")
          img(src="/assets/webviclogo.png")
      p.title Stage d’observation du rapport de stage
      div.subtitle par Victor SENN en 3E à  l’ Externat des enfants nantais.
    .flex
      nav
        ul
          li
            a(href="/") Page d'accueil
          each p in collections.pages.sort((a,b) => a.data.order - b.data.order)
            li(class=page.url == p.url ? 'active' : '')
              a(href=p.url)
                if p.data.title
                  span(class='title')
                    = p.data.title
        hr
        ul
          li Journal de bord

          each article in collections.articles
            li(class=page.url == article.url ? 'active' : '')
              a(href=article.url)
                if article.data.title
                  span(class='title')
                    = article.data.title
              if article.data.date
               span(class='date')
                 = article.data.date
      main
        .content
          block content
    //- footer should be only on index, yet atm there is only one page
    footer
      block footer
        div(class="update") Date de dernière mise à jour :&nbsp;
          span #{page.date.toISOString()}
        div(class="home")
          a(href="/") page d'accueil
